variable 
a storage location that hold a value 

data types;
value 
name

In [1]:
## variable 
name = "wassay" # string
age = 20 # int
height = 5.10 # float
a_student = True # bool

In [2]:
print(name)
print(age)
print(height)
print(a_student)

wassay
20
5.1
True

In [ ]:
# type information
print(type(name))
print(type(age))
print(type(height))
print(type(a_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# python as a dynamic language
variable = 966
variable2 = "966"

print(type(variable))
print(type(variable2))

<class 'int'>
<class 'str'>

In [ ]:
# naming conventions
# always use smallcase letters
# donot start with numbers
# use _ to separate words
# donot use special characters except _

In [6]:
age = 19 
age_in_months = age * 12

print(age_in_months)

228

In [7]:
age = 20 
age_in_months = age * 12
hours_in_a_year = 365 * 24
seconds_in_a_year = hours_in_a_year * 60 * 60

print(seconds_in_a_year)

31536000

In [9]:
total_seconds_in_age = 20 * 31536000

print(total_seconds_in_age)

630720000

In [11]:
_convert_seconds_to_years = total_seconds_in_age / seconds_in_a_year

print(_convert_seconds_to_years)

20.0

In [12]:
_obtained_marks = 1154
_total_marks = 1200
_percentage = (_obtained_marks / _total_marks) * 100

print(_percentage)

96.16666666666667

In [14]:
if _percentage > 90:
    print("Grade: A")
elif _percentage > 80:
    print("Grade: B")
elif _percentage > 70:
    print("Grade: C")
else:
    print("Grade: D")

_studentA_percentage = 94
_studentB_percentage = 84
_studentC_percentage = 76
_studentD_percentage = 40

Grade: A

In [15]:
_percentage = (_studentA_percentage + _studentB_percentage + _studentC_percentage + _studentD_percentage) / 4

print("Class Average Percentage:", _percentage)

Class Average Percentage: 73.5

In [16]:
print("Student A Percentage:", _studentA_percentage)
print("Student B Percentage:", _studentB_percentage)
print("Student C Percentage:", _studentC_percentage)
print("Student D Percentage:", _studentD_percentage)

Student A Percentage: 94
Student B Percentage: 84
Student C Percentage: 76
Student D Percentage: 40

In [18]:
grade_A = "A"
grade_B = "B"
grade_C = "C"
grade_D = "D"

print("Student A Grade:", grade_A)
print("Student B Grade:", grade_B)
print("Student C Grade:", grade_C)
print("Student D Grade:", grade_D)

Student A Grade: A
Student B Grade: B
Student C Grade: C
Student D Grade: D

In [19]:
#input_functionality 

input_studentA = int(input("Enter Student A Percentage: "))
input_studentB = int(input("Enter Student B Percentage: "))
input_studentC = int(input("Enter Student C Percentage: "))
input_studentD = int(input("Enter Student D Percentage: "))

In [20]:
print(input_studentA)
print(input_studentB)
print(input_studentC)
print(input_studentD)

94
83
44
54

In [21]:
print(type(input_studentA))
print(type(input_studentB))
print(type(input_studentC))
print(type(input_studentD))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

 #calculator

In [22]:
number_1 = int(input("Enter a number: "))
number_2 = int(input("Enter another number: "))
# calculator
sum_result = number_1 + number_2
division_result = number_1 / number_2
subtraction_result = number_1 - number_2
multiplication_result = number_1 * number_2

In [24]:
print("The division is:", division_result)
print("The subtraction is:", subtraction_result)
print("The multiplication is:", multiplication_result)

The division is: 1.2
The subtraction is: 9
The multiplication is: 2430

In [25]:
print(number_1)
print(number_2)

54
45

In [27]:
print(sum_result)

99